html 
{
    box-sizing: border-box;
}

*,
*::before,
*::after 
{
    box-sizing: inherit;
}

a
{
    color: inherit;
    text-decoration: none;
}

button 
{
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
}

ul 
{
    list-style: none;
}

body 
{
    font-family: 'Jost', sans-serif;
    font-family: 'Work Sans', sans-serif;
    /* overflow-x: hidden;
    overflow-y: scroll; */
}
:root 
{
    --Primary-color: #f6623e;
    --Secondary-color: #454545;
    --Nobel-color: #9d9d9d;
    --Nobel-white-color: #FFFFFF;
    --Black-color: #000000;
    --Gray-color: #828181;
}
.container
{
    max-width: 1940px;
    padding: 0 10px;
    margin: 0 auto;
}
.wrapper
{
    width: 1194px;
    height: 178px;
    margin: 0 auto;
}
.content-latest
{
    width: 1262px;
    height: 615px;
    margin: 0 auto;
}
/* -------------------------------- Header ----------------------------- */
.header-top
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Primary-color);
    padding: 15px 120px;
}

.header-top_text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Nobel-white-color);
}

.header-top_list
{
    display: flex;
    text-align: center;
    align-items: center;
}

.header-top_link
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Nobel-white-color);
}

.slesh
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Nobel-white-color);
    margin: 0 10px;
}

.line
{
    margin: 0 20px;
    width: 1px;
    height: 27px;
    background: var(--Nobel-white-color);
}

.header-top_changer
{
    display: flex;   
}

.header-top_flag
{
    margin-right: 7px;
}

.change-text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Nobel-white-color);
    text-align: center;
    margin: 3px;
}

.header-top_down
{
    color: var(--Nobel-white-color);
}

.nav
{
    max-width: 1688px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 123px 28px 109px;
    margin: 0 auto;
}

.nav-list
{
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav-item_link
{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Secondary-color);
}

.nav-item_link:focus
{
    color: var(--Primary-color);
}
.box
{
    position: relative;
}
.nav-link
{
    align-items: center;
}
.nav-loupe
{
    width: 22px;
    height: 22px;
    color: var(--Secondary-color);
    margin-right: 15px;
}

.nav-basket
{
    width: 18px;
    height: 24px;
    color: var(--Secondary-color);
}

.nav-ellipse
{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    left: 53px;
}
/* ================================= Main ======================= */
.main-section
{
    margin-bottom: 96px;
}
.main-content
{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1920px;
    height: 641px;
    position: relative;
}

.main-context
{
    position: absolute;
    display: block;
    top: 151px;
    left: 800px;
}

.main_text
{
    font-family: 'Jost', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--Primary-color);
}

.main-title
{
    font-family: 'Jost', sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 11px;
}

.main-text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    width: 512px;
    color: var(--Secondary-color);
    margin-bottom: 38px;
}

.main-button
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    width: 140px;
    height: 47px;
    color: var(--Nobel-white-color);
    background: var(--Primary-color);
}
/* ========================== Vitamins ================================ */
.vitamin_inner
{
    display: flex;
    margin-bottom: 240px;
}
.vitamin
{
    padding: 66px 156px 46px 273px;
}
.vitamin-text
{
    font-family: 'Jost', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--Primary-color);
    margin-bottom: 10px;
}
.vitamin-title
{
    font-family: 'Jost', sans-serif;
    font-size: 66px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--Black-color);
    width: 644px;
    margin-bottom: 30px;
}
.vitamin_text
{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--Secondary-color);
    width: 578px;
    margin-bottom: 31px;
}
.vitamin-btn
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    width: 150px;
    height: 47px;
    color: var(--Nobel-white-color);
    background: var(--Primary-color);
}
/* ============================= Collection ========================== */
.collection
{
    display: flex;
}
.collection-title
{
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    color: var(--Black-color);
    width: 570px;
    margin-bottom: 41px;
}
.collection-products img 
{
    width: 776px;
    height: 438px;
    margin-right: 42px;
}
.collection-images
{
    margin-bottom: 50px;
}
/* ========================= GOOD4ME DEAL ====================== */
.section
{
    margin-bottom: 140px;
}
.context
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.good-title
{
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: var(--Black-color);
    margin-bottom: 20px;
}
.good-img
{
    width: 127px;
    height: 4px;
    margin-bottom: 25px;
}
.good-text
{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    width: 759px;
    height: 55px;
    text-align: center;
    color: var(--Secondary-color);
    margin-bottom: 36px;
}

.good-list
{
    display: flex;
    gap: 20px;
}
.good-images
{
    border: 1px solid #E8E8E8;
    background: #F4F3F4;
    padding: 45px 42px;
}
.images
{
    width: 395px;
    height: 408px;
    margin-bottom: 23px;
}
.good_text
{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--Black-color);
    text-align: center;
    margin-bottom: 138px;
}

.good__list
{
    display: flex;
    gap: 171px
}
.good__item
{
    text-align: center;
    position: relative;
}
.good__img
{
    margin-bottom: 25px;
}
.good__images
{
    content: '';
    position: absolute;
    top: 27px;
    right: 85px;
    z-index: -1;
}
.good__title
{
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: var(--Black-color);
    margin-bottom: 11px;
}
.good__text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
    text-align: center;
    color: var(--Gray-color);
    width: 248px;
}
/* ======================== Control ===================== */
.section-control
{
    margin-bottom: 136px;
}
.control-content
{
    display: flex;
    width: 188px;
    height: 661px;
}
.control-good
{
    display: block;
    padding: 135px 90px;
}
.control-title
{
    font-family: 'Jost', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 3px;
    color: var(--Black-color);
    margin-bottom: 17px;
    width: 515px;
}
.control-text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: var(--Secondary-color);
    margin-bottom: 12px;
    width: 476px;
}
.control-button
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 22px;
    text-align: center;
    color: var(--Black-color);
    border: 2px solid var(--Primary-color);
    padding: 18px 45px;
}
.control-images
{
    display: flex;
}
.controls
{
    margin-bottom: 30px;
    margin-right: 28px;
    width: 445px;
    height: 320px;
}
.control
{
    width: 445px;
    height: 320px;
    border: none;
}
.control-img
{
    width: 480px;
    height: 670px;
}
/*  ============================= Products ====================== */
.section-products
{
    margin-bottom: 111px;
}
.products-title
{
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    color: var(--Black-color);
    text-align: center;
    margin-bottom: 58px;
}
.products-list
{
    display: flex;
    gap: 20px;
}
.products-img
{
    margin-bottom: 22px;
}
.good4me-vitamin
{
    border: 1px solid #E8E8E8;
    background: #F4F3F4;
    padding: 45px 113px;
}
.good4me-multi
{
    border: 1px solid #E8E8E8;
    background: #F4F3F4;
    padding: 45px 42px;
}
.products_title
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--Black-color);
    margin-bottom: 7px;
    text-align: center;
}
.products-text
{
    display: flex;
    justify-content: center;
    gap: 21px;
}
.products_text
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Primary-color);
    margin-bottom: 60px;
}
.products
{
    color: var(--Gray-color);
    text-decoration-line: line-through;
}
.products-button
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: var(--Black-color);
    border: 2px solid var(--Primary-color);
    padding: 15px 48px;
    display: block;
    margin: 0 auto;
}
/* ======================== Results ================= */
.section-results
{
    margin-bottom: 82px;
    background: #FEF0E7;
}
.results-inner
{
    display: flex;
}
.results
{
    display: block;
    justify-content: center;
    padding: 60px 106px 163px 331px;
}
.results-text
{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--Black-color);
    margin-bottom: 46px;
}
.results-title
{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--Primary-color);
    margin-bottom: 24px;
}
.results-list
{
    display: flex;
    gap: 4px;
}
.results-item img
{
    margin-bottom: 24px;
}
.results_text
{
    font-family: 'Jost', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 1px;
    width: 620px;
    color: var(--Secondary-color);
    margin-bottom: 23px;
}
.results-chloe
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    color: var(--Primary-color);
    margin-bottom: 32px;
}
.results-row
{
    display: flex;
}
.results-row_item img
{
    width: 44px;
    height: 44px;
    margin-right: 20px;
}
/* ======================== Shoping ================== */
.section-shoping
{
    margin-bottom: 118px;
}
.shop-title
{
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    color: var(--Black-color);
    text-align: center;
    margin-bottom: 50px;
}
.shop-list
{
    display: flex;
    gap: 15px;
}
.good4me-hair
{
    border: 1px solid #E8E8E8;
    background: #F4F3F4;
    padding: 55px 31px;
}
.good4me-detox
{
    border: 1px solid #E8E8E8;
    background: #F4F3F4;
    padding: 45px 55px;
}
.shop-img
{
    margin-bottom: 22px;
}
.shop_title
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    color: var(--Black-color);
    width: 388px;
    margin-bottom: 7px;
}
.shoping-text
{
    display: flex;
    justify-content: center;
    gap: 21px;
}
.shop_text
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Primary-color);
    margin-bottom: 60px;
}
.shoping
{
    color: var(--Gray-color);
    text-decoration-line: line-through;
}
/* ===================== Latest ================ */
.section-latest
{
    margin-bottom: 119px;
}
.latest-title
{
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    color: var(--Black-color);
    text-align: center;
    margin-bottom: 47px;
}
.latest-list
{
    display: flex;
    gap: 12px;
}
.latest-item
{
    text-align: center;
}
.latest-img
{
    margin-bottom: 18px;
}
.latest-text
{
    font-family: 'Jost', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--Primary-color);
    margin-bottom: 3px;
}
.latest_title
{
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 44px;
    color: var(--Black-color);
    margin-bottom: 3px;
}
.latest_text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: var(--Gray-color);
    margin-bottom: 21px;
    width: 389px;
}
.latest-button
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    width: 140px;
    height: 44px;
    color: var(--Nobel-white-color);
    background: var(--Primary-color);
}
/* ============================== Goods =============== */
.sections
{
    margin-bottom: 136px;
}
.goods-tilte
{
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    color: var(--Black-color);
    text-align: center;
    margin-bottom: 40px;
}
.goods-list
{
    display: flex;
    gap: 10px;
}
/* =================================== Footer ===================== */
.footer
{
    
}
.footer-goodles
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.footer-logo
{
    margin-bottom: 10px;
}
.footer-content_text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center; 
    color: var(--Secondary-color);
    width: 326px;
}
.footer-keep_list
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-keep_title
{
    font-family: 'Jost', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
    color: var(--Black-color);
    margin-bottom: 11px;
}
.footer-keep_text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Secondary-color);
    margin-bottom: 32px;
    width: 348px;
}
.footer-keeps-form
{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.footer-keep_email::placeholder
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Black-color);
}
input[type=text]
{
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
}
.footer-keep_subscribe
{
    color: var(--Primary-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6; 
    text-transform: uppercase;
}
.footer-info_title
{
    font-family: 'Jost', sans-serif;
    color: var(--Black-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 13px;
}
.footer-info_item
{
    text-align: left;
    margin-bottom: 10px;
}
.footer-info_link
{
    font-family: 'Jost', sans-serif;
    color: var(--Secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 2.0;
}
.footer-container
{
    display: flex;
    justify-content: space-between;
}

.footer-container_list
{
    display: flex;
    gap: 20px;
}
.footer-container_text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Black-color);
}
.footer-container_text span 
{
    color: var(--Primary-color);
}
.footer-cash_list
{
    display: flex;
    align-items: center;
    gap: 16px;
}
.footer-container_list,
.footer-container_text,
.footer-cash_list
{
    margin-top: 21px;
}