html 
{
    box-sizing: border-box;
}

*,
*::before,
*::after 
{
    box-sizing: inherit;
}

a
{
    color: inherit;
    text-decoration: none;
}

button 
{
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
}

ul 
{
    list-style: none;
}

body 
{
    font-family: 'Jost', sans-serif;
    font-family: 'Work Sans', sans-serif;
    /* overflow-x: hidden;
    overflow-y: scroll; */
}
:root 
{
    --Primary-color: #f6623e;
    --Secondary-color: #454545;
    --Nobel-color: #9d9d9d;
    --Nobel-white-color: #FFFFFF;
    --Black-color: #000000;
    --Gray-color: #828181;
}
.container
{
    max-width: 1940px;
    padding: 0 10px;
    margin: 0 auto;
}
.wrapper
{
    width: 1194px;
    height: 178px;
    margin: 0 auto;
}
.content-latest
{
    width: 1262px;
    height: 615px;
    margin: 0 auto;
}
.content-collection 
{
    width: 1268px;
    margin: 0 auto;
}
/* -------------------------------- Header ----------------------------- */
.header-top
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Primary-color);
    padding: 15px 120px;
}

.header-top_text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Nobel-white-color);
}

.header-top_list
{
    display: flex;
    text-align: center;
    align-items: center;
}

.header-top_link
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Nobel-white-color);
}

.slesh
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Nobel-white-color);
    margin: 0 10px;
}

.line
{
    margin: 0 20px;
    width: 1px;
    height: 27px;
    background: var(--Nobel-white-color);
}

.header-top_changer
{
    display: flex;   
}

.header-top_flag
{
    margin-right: 7px;
}

.change-text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Nobel-white-color);
    text-align: center;
    margin: 3px;
}

.header-top_down
{
    color: var(--Nobel-white-color);
}

.nav
{
    max-width: 1688px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 123px 28px 109px;
    margin: 0 auto;
}

.nav-list
{
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav-item_link
{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Secondary-color);
}

.nav-item_link:focus
{
    color: var(--Primary-color);
}
.box
{
    position: relative;
}
.nav-link
{
    align-items: center;
}
.nav-loupe
{
    width: 22px;
    height: 22px;
    color: var(--Secondary-color);
    margin-right: 15px;
}

.nav-basket
{
    width: 18px;
    height: 24px;
    color: var(--Secondary-color);
}

.nav-ellipse
{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    left: 53px;
}
/* ================================= Main ======================= */
.main-section
{
    margin-bottom: 96px;
}
.main-content
{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1920px;
    height: 641px;
    position: relative;
}

.main-context
{
    position: absolute;
    display: block;
    top: 151px;
    left: 800px;
}

.main_text
{
    font-family: 'Jost', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--Primary-color);
}

.main-title
{
    font-family: 'Jost', sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 11px;
}

.main-text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    width: 512px;
    color: var(--Secondary-color);
    margin-bottom: 38px;
}

.main-button
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    width: 140px;
    height: 47px;
    color: var(--Nobel-white-color);
    background: var(--Primary-color);
}
/* ========================= GOOD4ME DEAL ====================== */
.section
{
    margin-bottom: 140px;
}
.context
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.good-title
{
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: var(--Black-color);
    margin-bottom: 20px;
}
.good-img
{
    width: 127px;
    height: 4px;
    margin-bottom: 25px;
}
.good-text
{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    width: 759px;
    height: 55px;
    text-align: center;
    color: var(--Secondary-color);
    margin-bottom: 36px;
}

.good-list
{
    display: flex;
    gap: 20px;
}
.good-images
{
    border: 1px solid #E8E8E8;
    background: #F4F3F4;
    padding: 45px 42px;
}
.images
{
    width: 395px;
    height: 408px;
    margin-bottom: 23px;
}
.good_text
{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--Black-color);
    text-align: center;
    margin-bottom: 138px;
}

.good__list
{
    display: flex;
    gap: 171px
}
.good__item
{
    text-align: center;
    position: relative;
}
.good__img
{
    margin-bottom: 25px;
}
.good__images
{
    content: '';
    position: absolute;
    top: 27px;
    right: 85px;
    z-index: -1;
}
.good__title
{
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: var(--Black-color);
    margin-bottom: 11px;
}
.good__text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
    text-align: center;
    color: var(--Gray-color);
    width: 248px;
}
/* ======================== Control ===================== */
.section-control
{
    margin-bottom: 136px;
}
.control-content
{
    display: flex;
    width: 188px;
    height: 661px;
}
.control-good
{
    display: block;
    padding: 135px 90px;
}
.control-title
{
    font-family: 'Jost', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 3px;
    color: var(--Black-color);
    margin-bottom: 17px;
    width: 515px;
}
.control-text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: var(--Secondary-color);
    margin-bottom: 12px;
    width: 476px;
}
.control-button
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 22px;
    text-align: center;
    color: var(--Black-color);
    border: 2px solid var(--Primary-color);
    padding: 18px 45px;
}
.control-images
{
    display: flex;
}
.controls
{
    margin-bottom: 30px;
    margin-right: 28px;
    width: 445px;
    height: 320px;
}
.control
{
    width: 445px;
    height: 320px;
    border: none;
}
.control-img
{
    width: 480px;
    height: 670px;
}
/*  ============================= Products ====================== */
.section-products
{
    margin-bottom: 111px;
}
.products-title
{
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    color: var(--Black-color);
    text-align: center;
    margin-bottom: 58px;
}
.products-list
{
    display: flex;
    gap: 20px;
}
.products-img
{
    margin-bottom: 22px;
}
.good4me-vitamin
{
    border: 1px solid #E8E8E8;
    background: #F4F3F4;
    padding: 45px 113px;
}
.good4me-multi
{
    border: 1px solid #E8E8E8;
    background: #F4F3F4;
    padding: 45px 42px;
}
.products_title
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--Black-color);
    margin-bottom: 7px;
    text-align: center;
}
.products-text
{
    display: flex;
    justify-content: center;
    gap: 21px;
}
.products_text
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Primary-color);
    margin-bottom: 60px;
}
.products
{
    color: var(--Gray-color);
    text-decoration-line: line-through;
}
.products-button
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: var(--Black-color);
    border: 2px solid var(--Primary-color);
    padding: 15px 48px;
    display: block;
    margin: 0 auto;
}
/* ======================== Results ================= */
.section-results
{
    margin-bottom: 82px;
    background: #FEF0E7;
}
.results-inner
{
    display: flex;
}
.results
{
    display: block;
    justify-content: center;
    padding: 60px 106px 163px 331px;
}
.results-text
{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--Black-color);
    margin-bottom: 46px;
}
.results-title
{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--Primary-color);
    margin-bottom: 24px;
}
.results-list
{
    display: flex;
    gap: 4px;
}
.results-item img
{
    margin-bottom: 24px;
}
.results_text
{
    font-family: 'Jost', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 1px;
    width: 620px;
    color: var(--Secondary-color);
    margin-bottom: 23px;
}
.results-chloe
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    color: var(--Primary-color);
    margin-bottom: 32px;
}
.results-row
{
    display: flex;
}
.results-row_item img
{
    width: 44px;
    height: 44px;
    margin-right: 20px;
}
/* ======================== Shoping ================== */
.section-shoping
{
    margin-bottom: 118px;
}
.shop-title
{
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    color: var(--Black-color);
    text-align: center;
    margin-bottom: 50px;
}
.shop-list
{
    display: flex;
    gap: 15px;
}
.good4me-hair
{
    border: 1px solid #E8E8E8;
    background: #F4F3F4;
    padding: 55px 31px;
}
.good4me-detox
{
    border: 1px solid #E8E8E8;
    background: #F4F3F4;
    padding: 45px 55px;
}
.shop-img
{
    margin-bottom: 22px;
}
.shop_title
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    color: var(--Black-color);
    width: 388px;
    margin-bottom: 7px;
}
.shoping-text
{
    display: flex;
    justify-content: center;
    gap: 21px;
}
.shop_text
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Primary-color);
    margin-bottom: 60px;
}
.shoping
{
    color: var(--Gray-color);
    text-decoration-line: line-through;
}
/* ===================== Latest ================ */
.section-latest
{
    margin-bottom: 119px;
}
.latest-title
{
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    color: var(--Black-color);
    text-align: center;
    margin-bottom: 47px;
}
.latest-list
{
    display: flex;
    gap: 12px;
}
.latest-item
{
    text-align: center;
}
.latest-img
{
    margin-bottom: 18px;
}
.latest-text
{
    font-family: 'Jost', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--Primary-color);
    margin-bottom: 3px;
}
.latest_title
{
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 44px;
    color: var(--Black-color);
    margin-bottom: 3px;
}
.latest_text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: var(--Gray-color);
    margin-bottom: 21px;
    width: 389px;
}
.latest-button
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    width: 140px;
    height: 44px;
    color: var(--Nobel-white-color);
    background: var(--Primary-color);
}
/* ============================== Goods =============== */
.sections
{
    margin-bottom: 136px;
}
.goods-tilte
{
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    color: var(--Black-color);
    text-align: center;
    margin-bottom: 40px;
}
.goods-list
{
    display: flex;
    gap: 10px;
}
/* =================================== Footer ===================== */

.footer-goodles
{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.footer-logo
{
    margin-bottom: 10px;
}
.footer-content_text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center; 
    color: var(--Secondary-color);
    width: 326px;
}
.footer-keep_list
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-keep_title
{
    font-family: 'Jost', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
    color: var(--Black-color);
    margin-bottom: 11px;
}
.footer-keep_text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Secondary-color);
    margin-bottom: 32px;
    width: 348px;
}
.footer-keeps-form
{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.footer-keep_email::placeholder
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Black-color);
}
input[type=text]
{
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
}
.footer-keep_subscribe
{
    color: var(--Primary-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6; 
    text-transform: uppercase;
}
.footer-info_title
{
    font-family: 'Jost', sans-serif;
    color: var(--Black-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 13px;
}
.footer-info_item
{
    text-align: left;
    margin-bottom: 10px;
}
.footer-info_link
{
    font-family: 'Jost', sans-serif;
    color: var(--Secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 2.0;
}
.footer-container
{
    display: flex;
    justify-content: space-between;
}

.footer-container_list
{
    display: flex;
    gap: 20px;
}
.footer-container_text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Black-color);
}
.footer-container_text span 
{
    color: var(--Primary-color);
}
.footer-cash_list
{
    display: flex;
    align-items: center;
    gap: 16px;
}
.footer-container_list,
.footer-container_text,
.footer-cash_list
{
    margin-top: 21px;
}
/* ==================================== Home =========================== */
.section-vitamin
{
    margin-top: 72px;
    margin-bottom: 118px;
}
.content_inner
{
    display: flex;
    justify-content: center;
}
.vitamin-item
{
    padding: 66px 156px 46px 0;
}
.vitamin-item_good
{
    font-family: 'Jost', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--Primary-color);
    margin-bottom: 4px;
}
.vitamin-item_title
{
    font-family: 'Jost', sans-serif;
    font-size: 66px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--Black-color);
    width: 644px;
    margin-bottom: 30px;
}
.vitamin-item_text
{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--Secondary-color);
    width: 578px;
    margin-bottom: 30px;
}
.vitamin-btn
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 14px 30px;
    color: var(--Nobel-white-color);
    background: var(--Primary-color);
}
/* ==================================== Collection =========================== */
.section-collection
{
    margin-bottom: 135px;
}
.collection-inner
{
    display: flex;
    justify-content: center;
}
.collection-item
{
    margin-right: 42px;
}
.collection-title
{
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    color: var(--Black-color);
    width: 570px;
    margin-bottom: 41px;
}
.collection-images
{
    margin-bottom: 50px;
}
/* =============================== Collection Products ========================== */
.collection-content
{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 0 50px;
}
.collection-products
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.collection-products_title
{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
    width: 580px;
    color: var(--Black-color);
    margin-bottom: 26px;
}
.collection-products_text
{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--Nobel-color);
    width: 510px;
    margin-bottom: 26px;
}
.collection-products_btn
{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 14px 30px;
    text-transform: uppercase;
    color: var(--Black-color);
    border: 2px solid var(--Primary-color);
    width: 173px;
    height: 56px;
}
.collection-slider_img
{
    margin-bottom: 20px;
}
.collection-slider
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.collection-slider_title
{
    font-size: 16px;
    font-weight: 500;
    color: var(--Black-color);
    width: 342px;
    margin-bottom: 12px;
}
.collection-slider_sum
{
    display: flex;
    gap: 0 21px;
}
.collection-slider-price
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--Primary-color);
    margin-right: 21px;
}
.collection-slider_price
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--Gray-color);
    text-decoration-line: line-through;
}
/* =============================== Control ============================= */
.section-controls
{
    margin-top: 115px;
    margin-bottom: 115px;
}
.control-inner
{
    display: flex;
}
.control-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 147px;
}
.control_title
{
    font-family: 'Jost', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 3px;
    color: var(--Black-color);
    margin-bottom: 26px;
}
.control_text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--Secondary-color);
    margin-bottom: 26px;
    width: 500px;
}
.control_btn
{
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 18px 45px;
    color: var(--Black-color);
    border: 2px solid var(--Primary-color);
    width: 260px;
    height: 56px;
}
/* ========================= Selling =================== */
.section-selling
{
    margin-top: 222px;
    margin-bottom: 216px;
}
.selling-inner
{
    display: flex;
    margin-bottom: 83px;
}
.selling
{
    margin-right: 580px;
}
.selling-title
{
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.0;
    color: var(--Black-color);
    margin-bottom: 10px;
}
.selling-text
{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Secondary-color);
    width: 487px;
}
.selling-item
{
    display: flex;
    align-items: center;
}
.selling-rows
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--Primary-color);
    margin-right: 7px;
}
.selling-items
{
    display: flex;
    gap: 20px;
}
.selling-img
{
    margin-bottom: 23px;
}
.selling__title
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 2px;
    color: var(--Black-color);
    margin-bottom: 10px;
}
.selling-cash
{
    display: flex;
}
.selling-many
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--Primary-color);
    margin-right: 21px;
}
.selling_many
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--Gray-color);
    text-decoration-line: line-through;
}
/* ============================ Supports ================== */
.section-supports
{
    margin-bottom: 336px;
}
.supports-item
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.supports-title
{
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.0;
    color: var(--Black-color);
    margin-bottom: 10px;
}
.supports-text
{
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Secondary-color);
    margin-bottom: 92px;
}
.supports-list_item
{
    display: flex;
    justify-content: center;
}
.supports-list_good1
{
    margin-top: 34px;
    margin-right: 127px;
}
.supports-list_items1
{
    margin-bottom: 278px;
}
.supports-list_title
{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--Primary-color);
    margin-bottom: 5px;
}
.supports-list_text
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--Black-color);
    width: 287px;
}
.weight
{
    width: 305px;
}
.wellbeing
{
    width: 223px;
}
.detoxification
{
    width: 250px;
}
.skin
{
    width: 225px;
}
.supports-list_good2
{
    margin-top: 74px;
    margin-left: 146px;
}
.supports-list_items3
{
    margin-bottom: 203px;
}
.supports-list_items1
{
    position: relative;
}
.supports-list_items1::after 
{
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    left: 315px;
    bottom: 0;
    width: 214px;
    height: 86px;
    background-image: url(../img/Group1.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.supports-list_items2
{
    position: relative;
}
.supports-list_items2::after 
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 190px;
    bottom: 0;
    width: 283px;
    height: 20px;
    background-image: url(../img/Group2.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.supports-list_items3
{
    position: relative;
}
.supports-list_items3::after
{
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    left: -195px;
    bottom: 0;
    width: 250px;
    background-image: url(../img/Group3.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.supports-list_items4
{
    position: relative;
}
.supports-list_items4::after
{
    content: '';
    position: absolute;
    top: -105px;
    right: 0;
    left: -250px;
    bottom: 0;
    width: 240px;
    background-image: url(../img/Group4.svg);
    background-repeat: no-repeat;
    background-position: center;
}
/* ================================ Services ============================ */
.services
{
    margin-bottom: 100px;
}
.services-title
{
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.0;
    color: var(--Black-color);
    margin-bottom: 10px;
}
.services-text
{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Secondary-color);
    width: 487px;
    margin-bottom: 80px;
}
.services-item
{
    display: flex;
    text-align: center;
    gap: 200px;
}
.services-list-img
{
    margin-bottom: 22px;
}
.services-list-title
{
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--Black-color);
    margin-bottom: 11px;
}
.services-list-text
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--Gray-color);
    width: 285px;
}
/* ================================== Clients ========================== */
.clients
{
    background: none;
    padding: 103px 63px 102px 113px;
}
.results
{
    padding: 0;
}
.clients-products
{
   margin-top: 160px;
}
.clients-fonts
{
    position: relative;
}
.clients-img
{
    width: 536px;
    height: 463px;
    margin-top: 208px;
    margin-left: 240px;
    border-radius: 10px;
}
.clients-fonts::after 
{
    content: '';
    position: absolute;
    background-image: url(../img/fon.jpg);
    top: 0;
    left: 415px;
    right: 0;
    bottom: 0;
    width: 452px;
    height: 361px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
/* ======================== News ================= */
.news 
{
    margin-bottom: 115px;
}
.news-inner
{
    display: flex;
    margin-bottom: 80px;
}
.news-posts
{
    display: flex;
    align-items: center;
}
.news-title
{
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.0;
    color: var(--Black-color);
    margin-bottom: 10px;
}
.news-text
{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Secondary-color);
    width: 487px;
    margin-right: 613px;
}
.news-posts-title
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--Primary-color);
    margin-right: 14px;
}
.news-item 
{
    display: flex;
    gap: 44px;
    margin-bottom: 220px;
}
.news-list-items
{
    display: flex;
    margin-bottom: 20px;
}
.news-list_text
{
    font-family: 'Jost', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.0;
    letter-spacing: 2px;
    color: var(--Black-color);
    text-transform: uppercase;
    writing-mode: vertical-rl;
    margin-top: 21px;
    margin-left: 6px;
}
.news-list_title
{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    width: 290px;
    color: var(--Black-color);
    margin-bottom: 5px;
}
.news-list_texts
{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    width: 355px;
    color: var(--Gray-color);
    margin-bottom: 10px;
}
.news-more
{
    display: flex;
    align-items: center;
}
.news-more_text 
{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--Primary-color);
    margin-right: 10px;
}
.news-goodme-title
{
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.0;
    color: var(--Black-color);
    margin-bottom: 15px;
}
.news-goodme-text
{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    width: 487px;
    color: var(--Secondary-color);
}
.swiper 
{
    margin-bottom: 360px;
}
.swiper-slide
{
    display: flex;
    gap: 40px;
}
.swiper-img
{
    width: 258px;
    height: 270px;
    border-radius: 10px;
}
/* =================================== Index-v4 ============================ */
.contents
{
    flex-direction: column;
}
.vitamin
{
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}
.vitamin-title
{
    width: 1112px;
}
.vitamin-img
{
    display: flex;
    justify-content: center;
}
/* ============================ content-logo ======================= */
.content-logo_list
{
    display: flex;
    justify-content: space-between;
}
.content-logo_title
{
    font-size: 18px;
    font-weight: 600;
    color: var(--Nobel-color);
}
/* ================================ Main Process ====================== */
.main-process_title
{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
    width: 583px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.main-process_content
{
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
}
.main-process_quality,
.main-process_clean,
.main-process_chemical
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--Nobel-color);
    border-radius: 15px;
    padding: 30px 15px 50px 15px;
}
.main-process_img
{
    margin-bottom: 30px;
}
.main-process-title
{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.1;
    color: var(--Black-color);
    margin-bottom: 10px;
}
.main-process-text
{
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    width: 344px;
}